@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&family=Quicksand:wght@400;500;700&display=swap');


html,
body {
    font-size: 62.5%;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 1px;
    margin: 0;
    overflow-x: hidden;
}

option,
input[type="text"],
input[type="number"] {
    font-size: 1.4rem;
    padding: 5px 20px;
    margin: 20px 0 20px 0;
}

.card.movie-info-card {
    margin-top: 20px;
    font-size: 18px;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.08);
    padding: 30px 20px;
  }
  
.card.movie-info-card .sub-heading {
    font-size: 26px;
}
  
.col-md {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-button {
    font-size: 24px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: lightcoral;
    box-shadow: 0 9px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
    color: white;
    border: none;
    cursor: pointer;
    overflow: hidden;
}
